@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* APP VARS */
        --titlebar-height: 40px;
        --toolbar-width: 40px;

        --left-sidebar-width: calc(300px - var(--toolbar-width));
        --right-sidebar-width: calc(300px - var(--toolbar-width));

        /* SHADCN UI VARS */
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .tw-dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }

    @font-face {
        font-family: Inter;
        src: url('./fonts/Inter-SemiBold.ttf') format('ttf');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: Inter;
        src: url('./fonts/Inter-Thin.ttf') format('ttf');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
    }

    @font-face {
        font-family: Satoshi;
        src:
            url('./fonts/Satoshi-Italic.woff2') format('woff2'),
            url('./fonts/Satoshi-Italic.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
    }

    @font-face {
        font-family: Satoshi;
        src:
            url('./fonts/Satoshi-Black.woff2') format('woff2'),
            url('./fonts/Satoshi-Black.woff') format('woff');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
    }
}

@layer base {
    * {
        @apply tw-border-border;
    }

    body {
        @apply tw-bg-background tw-text-foreground;
    }

    .tap-highlight-transparent {
        -webkit-tap-highlight-color: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #fff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}

/* GLOBAL STYLES */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* SCROLLBAR SETUP */

*::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
}

*::-webkit-scrollbar-track {
    @apply tw-h-screen tw-rounded-none !tw-bg-white-gray/50 tw-shadow-none;
}

*::-webkit-scrollbar-thumb {
    @apply tw-rounded-none !tw-bg-light-gray tw-shadow-none;
}

*::-webkit-scrollbar-thumb:hover {
    @apply !tw-bg-light-gray/65;
}

/* CUSTOM STYLES */

.bg-dot-pattern {
    background-image: radial-gradient(rgb(35 40 68) 1px, transparent 1px);
    background-size: 25px 25px;
}

.use-automation-zoom-in {
    animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
